<module xmlns="urn:jboss:module:1.0" name="de.holisticon.skill-based-routing-setup">
    <resources>
        <resource-root path="skill-based-routing-setup-0.2-SNAPSHOT.jar" />
    </resources>

    <dependencies>

        <module name="javax.api" />
        <module name="org.camunda.bpm.camunda-engine" />
        <module name="org.slf4j" />
        <module	name="com.google.guava"	/>

    </dependencies>
</module>
