<form role="form" name="leistungen_erfassen">
 	
  <script cam-script type="text/form-script">

    // angular form works on scope object
    var leistungsabrechnung = $scope.leistungsabrechnung = {
      leistungen : []
    };

    // scope function which adds a new leistung
    $scope.leistungHinzufuegen = function() {
      leistungsabrechnung.leistungen.push({});
    };

    /**
     * cam form lifecycle hooks
     */

    camForm.on('form-loaded', function() {

      // fetch existing variables
      camForm.variableManager.fetchVariable('vsnr');
      camForm.variableManager.fetchVariable('rechnungsart');
      camForm.variableManager.fetchVariable('erstattungswunsch');

      // declare variable 'leistungsabrechnung' incuding metadata for serialization
      camForm.variableManager.createVariable({
        name: 'leistungsabrechnung',
        type: 'Object',
        value: leistungsabrechnung,
        valueInfo: {
          // indicate that object is serialized as json
          serializationDataFormat: 'application/json',
          // provide classname of java object
          objectTypeName: 'de.holisticon.bpm.sbr.dmn.Leistungsabrechnung'
        }
      });

    });

    camForm.on('variables-fetched', function() {
      // after the variables are fetched, bind the value of customerData to a angular
      // scope value such that the form can work on it
      $scope.versicherungsnummer = camForm.variableManager.variable('vsnr').value;
      $scope.rechnungsart = camForm.variableManager.variable('rechnungsart').value;
      $scope.erstattungswunsch = camForm.variableManager.variable('erstattungswunsch').value;

      // add at least one leistung
      $scope.leistungHinzufuegen();
    });

    camForm.on('submit', function() {
      // remove '$$hashKey' properties from leistungen objects
      angular.forEach($scope.leistungsabrechnung.leistungen, function(leistung) {
        delete leistung.$$hashKey;
      });
    });

  </script>
  
    <table width="100%">
      <tr>
        <td width="33%">
          <div class="form-group">
            <label>Versicherungsnummer</label> 
            <div class="form-control">{{versicherungsnummer}}</div>
          </div>
        </td>
        <td>&nbsp;</td>       
        <td width="33%">
          <div class="form-group">
            <label for="produkt">Produkt</label>
            <div class="controls">
            <select name="produkt"
                    class="form-control"
                    required 
                    cam-variable-name="produkt"
                    cam-variable-type="String">
                    <option selected value=''></option>
                    <option value="Basis-Schutz">Basis-Schutz</option>
                    <option value="Premium Komplett">Premium Komplett</option>
                    <option value=Zahnzusatz>Zahnzusatz</option>
                    <option value="Brille 2000">Brille 2000</option>
                    <option value="Sonstiges">Sonstiges</option>
             </select>
             </div>
          </div>
        </td>
        <td>&nbsp;</td>       
        <td width="32%">
          <div class="form-group">
            <label for="kundenstatus">Kundenstatus</label>
            <div class="controls">
            <select name="kundenstatus"
                    class="form-control"
                    required 
                    cam-variable-name="kundenstatus"
                    cam-variable-type="String">
                    <option selected value=''></option>
                    <option value="Standard">Standard</option>
                    <option value="VIP">VIP</option>
                    <option value="Mitarbeiter">Mitarbeiter</option>
             </select>
             </div>
          </div>
        </td>
      </tr>
    </table>
    
    <div class="form-group">
      <label>Erstattungswunsch</label> 
      <div class="form-control" style="height: 100%">{{erstattungswunsch}}</div>
	</div>

    <!-- Leistungsbereich -->
    <!-- 
    <div class="form-group">
      <label for="leistungsbereich">Leistungsbereich</label>
      <div class="controls">
        <select name="leistungsbereich" class="form-control"
          required 
          cam-variable-name="leistungsbereich"
          cam-variable-type="String">
          <option selected value=''></option>
          <option value="Arzt">GOÄ</option>
          <option value=Zahn>GOZ</option>
          <option value="Sehhilfe">Sehhilfe</option>
          <option value="Sonstiges">Sonstiges</option>
        </select>
      </div>
    </div>
    -->


    <div style="padding-bottom: 10px;">
      <strong>Abzurechnende Leistungen</strong> 
      <a href ng-click="leistungHinzufuegen()" class="btn">[+] Hinzuf&uuml;gen</a> 
      
      <div ng-repeat="leistung in leistungsabrechnung.leistungen">     
        <!-- 
        <table width="100%">
          <tr>
            <td width="195px">
              <div class="controls">
                <input class="form-control"
                   style="margin-bottom: -1px"
                   required
                   type="text"
                   ng-model="leistung.gebuehrenziffer" 
                   placeholder="Ziffer/Schlüssel"
                   ng-minlength="3" 
                   ng-maxlength="8" />
              </div>
            </td>
            <td>
              <div class="controls">
                <input class="form-control"
                   style="margin-bottom: -1px; margin-left: -1px;"
                   required
                   type="text"
                   ng-model="leistung.bezeichnung" 
                   placeholder="Beschreibung" />
              </div>
            </td>
          </tr>
        </table>
        -->
        
        <div class="controls">
          <input class="form-control"
                 style="margin-bottom: -1px"
                 required
                 type="text"
                 ng-model="leistung.bezeichnung" 
                 placeholder="Ziffer/Schlüssel (+ ggf. Beschreibung)" />
        </div>
        
      </div>
    </div>

</form>