<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="de.holisticon.skill-based-routing">
    <resources>
        <resource-root path="skill-based-routing-plugin-0.2-SNAPSHOT.jar"/>
    </resources>

    <dependencies>
        <module name="com.google.guava" export="true"/>
        <module name="org.codehaus.groovy.groovy-all" export="true" services="export"/>
        <module name="org.camunda.bpm.camunda-engine" export="true"/>
        <module name="org.camunda.bpm.dmn.camunda-engine-dmn" export="true"/>
        <module name="org.camunda.bpm.dmn.camunda-scriptengine-dmn" export="true"/>

        <module name="org.slf4j"/>
    </dependencies>
</module>
